---
layout: page
---

{% for post in site.posts limit:10 %}
  <h2 class="post-title">
		<a href="{{ site.url | append:site.baseurl | append:post.url }}">
      {{ post.title }}
    </a>
  </h2>

  {% include post-meta.html date=post.date tags=post.tags %}
  <div class="post-descr">
    <p>
      {{ post.description }}
			{{ post.excerpt }}
    </p>
  </div>
  {% endfor %}


<div class="post-footer">
  <div class="column-full">
    <h3><a href="{{ '/archive.html' | prepend: site.baseurl | prepend: site.url }}">Blog archive</a></h3>
  </div>
</div>
