{% if page.share != false %}

<div class="share-bar">
  <ul class="share-buttons">
    {% if site.share.facebook %}
    <li class="share-facebook">
      <a href="https://www.facebook.com/sharer/sharer.php?u={{ site.url | append: page.url}}" target="_blank" title="Share on Facebook">
        <span class="la-stack la-lg">
          <i class="la la-circle la-stack-2x"></i>
          <i class="lab la-facebook-f la-stack-1x"></i>
        </span>
      </a>
    </li>
    {% endif %}

    {% if site.share.twitter %}
    <li class="share-twitter">
      <a href="https://twitter.com/intent/tweet?url={{ site.url | append: page.url }}&text={{page.title}}" target="_blank" title="Tweet">
        <span class="la-stack la-lg">
          <i class="la la-circle la-stack-2x"></i>
          <i class="lab la-twitter la-stack-1x"></i>
        </span>
      </a>
    </li>
    {% endif %}

    {% if site.share.linkedin %}
    <li class="share-linkedin">
      <a href="http://www.linkedin.com/shareArticle?mini=true&url={{ site.url | append: page.url }}&title={{page.title}}&summary={{page.description}}&source=" target="_blank" title="Share on LinkedIn">
        <span class="la-stack la-lg">
          <i class="la la-circle la-stack-2x"></i>
          <i class="lab la-linkedin-in la-stack-1x"></i>
        </span>
      </a>
    </li>
    {% endif %}

    {% if site.share.pinterest %}
    <li class="share-pinterest">
      <a href="http://pinterest.com/pin/create/button/?url{{ site.url | append: page.url }}=&description={{page.description}}" target="_blank" title="Pin it">
        <span class="la-stack la-lg">
          <i class="la la-circle la-stack-2x"></i>
          <i class="lab la-pinterest-p la-stack-1x"></i>
        </span>
      </a>
    </li>
    {% endif %}

    {% if site.share.email %}
    <li class="share-envelope">
      <a href="mailto:?&subject={{page.title}}&body={{page.description | append: ' ' | append: site.url | append: page.url}}" target="_blank" title="Email">
        <span class="la-stack la-lg">
          <i class="la la-circle la-stack-2x"></i>
          <i class="la la-envelope la-stack-1x"></i>
        </span>
      </a>
    </li>
    {% endif %}

  </ul>
</div>
{% endif %}
